html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "NotoSans", sans-serif;
    font-size: 16px;
    background: #ffffff;
    overflow-x: hidden;
    color: #010101;
}

img {
    max-width: 100%;
}

button,
input,
label {
    font-family: "NotoSans", sans-serif;
    outline: none;
}
